@import url(./normalize.css);
@import url(./style.css);

@import url(./global.css);
.about-container {
    display: flex;
}
.about__title {
    font-family: var(--font-familiy);
    font-size: 6.4rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    width: 35rem;
}

.about-short-info__info {
    width: 73rem;
}

.director {
    background-color: var(--secondary-deep-jungle);
    position: relative;
}
.director-container {
    padding: 14rem 5rem;
    /* background-color: aqua; */
}
.director__img {
    position: absolute;
    top: 0;
    left: -10rem;
}
.director-container__title {
    font-family: var(--font-familiy);
    font-size: 4.8rem;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    text-align: center;
    color: var(--primary-white);
    margin-bottom: 6.4rem;
}
.directors-informations {
    width: 111rem;
    height: 61rem;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 3rem;
}
.directors-card {
    width: 35rem;
    height: 25.3rem;
    background-color: var(--secondary-sacramento-state);
    padding: 3.2rem 2.4rem 5.6rem 2.4rem;
    position: relative;
    cursor: pointer;
}
.bg-one:hover .avatar-informations {
    opacity: 0;
}
.bg-one:hover .avatar-informations-bg {
    opacity: 1;
}
.bg-one:hover .add__img {
    transform: rotate(45deg);
}
.bg-one:hover .add {
    background-color: var(--secondary-rapture);
}
.bg-one:hover .add__img {
    transform: rotate(45deg);
}

.avatar-informations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30.2rem;
    height: 16.5rem;
}
.avatar-informations:hover .add__img-bg {
    /* display: block; */
}
.avatar__img {
    text-align: center;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    border: 2px solid #c4fffe;
    margin-bottom: 1.6rem;
}
.avatar__name {
}
.avatar__info {
}
.add {
    background-color: var(--primary-light);
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* left: -50%; */
    /* transform: translateX(-50%); */
    text-align: center;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.add__img {
}

.avatar-informations-bg {
    /* display: none; */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* right: 50%; */
    /* right: 50%; */
    /* transform: translate(10%, -50%); */
}
.avatar__name-bg {
    font-size: 1.8rem;
    margin-bottom: 5rem;
}
.avatar__info-bg {
    margin-bottom: 2.4rem;
    width: 25.4rem;
    text-align: center;
    font-style: normal;
    font-family: var(--font-familiy);
    font-size: 15px;
    font-weight: var(--font-weight-semibold);
    line-height: 1.5;
}

.add-bg {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
}

.fa-brands {
    position: absolute;
    top: 170px;
    left: 55%;
    transform: translateX(-50%);
}
.fa-twitter {
}
.fa-linkedin {
    left: 14rem;
}
