@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .hero__pattern-first-img {
        display: none;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .hero__title {
        font-size: 6.4rem;
    }
    .hero__title-span {
        font-size: 6.4rem;
    }
    .hero-short-info {
    }
    .hero-short-info__line {
        display: none;
    }
    .hero__pattern-second-img {
        /* right: 200rem; */
        /* left: -50%; */
        /* right: -50%; */
        transform: translateX(-50%);
    }
    .teams-container {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    .teams__title {
        font-size: 3.2rem;
        width: 44.5rem;
    }
    .teams-bg-pattern {
        position: absolute;
        top: 0;
    }
    .stories-container__title {
        font-size: 3.2rem;
        width: 573px;
        text-align: center;
    }
    .stories-container__title span {
        font-size: 3.2rem;
    }
    .stories-info {
        display: flex;
        flex-direction: column;
    }

    .card-stories {
    }
    .card-stories__img {
        margin-top: 3.5rem;
        padding-left: 3rem;
    }
    .card-stories__info {
        width: 57.3rem;
        margin: auto;
    }
    .avatar {
        left: 50%;
        transform: translateX(-50%);
    }
    .avatar__name {
    }
    .avatar__info {
    }
    .avatar-img {
        left: 50%;
        transform: translateX(-50%);
        /* margin-left: 25.6rem; */
    }

    .contact__title {
        font-size: 3.2rem;
        padding-left: 63px;
    }
    .contact-container {
        width: 90%;
        padding-bottom: 30px;
    }
    .contact {
        width: 76.8rem;
    }
    .contact-btn {
    }
    .footer {
        width: 76.8rem;
    }
    .footer__container {
        /* padding: 64px 24px; */
        display: grid;
        align-items: center;
        /* margin-right: 0; */
        grid-template-columns: 510px 280px;
    }
    .container {
    }
    .footer__nav {
        /* position: absolute; */
    }
    .footer__logo {
    }

    .footer__logo-img {
    }

    .footer__address {
        text-align: right;
        /* margin-top: 2.4rem; */
        /* margin-bottom: 8rem; */
    }
    .footer__address-link {
        font-size: 1.5rem;
    }
    .footer__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fa-brands {
        top: 342rem;
        left: 5rem;
    }
    .footer__social-link {
    }
    .fa-facebook {
        margin-left: rem;
    }
    .fa-pinterest {
        margin-left: 10rem;
    }
    .fa-twitter {
        margin-left: 5rem;
    }
    .footer__copyright-text {
        margin-right: -16rem;
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0 8rem;
    }
    .about__pattern-second-img {
        position: absolute;
        right: 0;
    }
    .about-short-info__info {
        width: 47px;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .director-container {
    }
    .directors-card {
    }
    .directors-informations {
        width: 26rem;
        display: grid;
        grid-template-columns: 200px 200px;
        gap: 3rem;
    }

    .contactt {
        width: 76.8rem;
        padding-bottom: 1rem;
    }
    .contactt-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactt-info {
        width: 51.5rem;
    }
}
/* MOBILE */

@media (max-width: 375px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 37.5rem;
    }
    .site-logo {
        margin-left: -2.4rem;
    }
    .sitenav {
        display: none;
    }
    .herader-container {
        margin-top: -5rem;
    }
    .herader-container .fa-bars {
        display: block;
        padding-left: 6rem;
        color: var(--primary-white);
        cursor: pointer;
    }
    .herader-container .fa-xmark {
        display: block;
        color: var(--primary-white);
        cursor: pointer;
        padding-bottom: -2.5rem;
        margin-left: -6.4rem;
        z-index: 1;
    }
    .header-btn {
        display: block;
        width: 150px;
        font-size: 15px;
        margin-left: 48px;
    }
    .mobile {
        position: absolute;
        display: block;
        height: 100vh;
        width: 25.5rem;
        background-color: var(--secondary-police);
        padding-bottom: 391px;
        left: 37.5rem;
    }
    .mobile-list {
        display: block;
        padding: 30px;
        z-index: 8;
        margin-top: 28rem;
        margin-left: 48px;
    }
    .mobile-link {
        font-family: var(--font-familiy);
        font-size: 1.8rem;
        font-weight: var(--font-weight-semibold);
        line-height: 1.5;
        color: var(--primary-white);
    }
    .mobile__img {
        position: absolute;
        /* padding-top: 391px; */
        bottom: 0;
        top: 760px;
        right: 0px;
    }

    .hero__pattern-first-img {
        display: none;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        /* width: 375px; */
    }

    .hero__title {
        font-size: 4rem;
    }
    .hero__title-span {
        font-size: 4rem;
    }
    .hero-short-info {
    }
    .hero-short-info__info {
        padding: 0 5.4rem;
        font-size: 1.5rem;
    }
    .hero-short-info__line {
        display: none;
    }
    .hero__pattern-second-img {
        /* right: 20rem; */
        left: 50%;
        right: -50%;
        transform: translateX(-50%);
    }
    .teams__title {
        font-size: 3.2rem;
        width: 24rem;
    }
    .teams-type__info {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2.3rem;
        margin-bottom: 4.8rem;
    }
    .teams-type__info-description {
        width: 32.7rem;
    }
    .stories-container {
        display: flex;
        flex-direction: column;
        width: 37.5rem;
        padding-right: 16px;
    }
    .stories-container__title {
        font-size: 3.2rem;
        width: 32.7rem;
        margin-left: -2.5rem;
    }
    .stories-container__title span {
        font-size: 3.2rem;
    }
    .card-stories__info {
        width: 32.7rem;
        /* margin-right: -50rem; */
    }
    .avatar-img {
        transform: translateX(-70%);
        /* margin-left: 25.6rem; */
    }
    .avatar {
        text-align: center;
        padding-right: 1.5rem;
    }
    .card-stories__img {
        margin-top: 2.5rem;
    }
    .contact {
        width: 37.5rem;
    }
    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 30.2rem;
        /* width: 37.5rem; */
        left: 50%;
        transform: translateX(50%);
    }
    .contact__title {
        text-align: center;
        /* margin-right: 350px; */
        right: 50%;
        transform: translateX(-60%);
        margin-bottom: 2.4rem;
    }
    .contact-btn {
        left: 50%;
        transform: translateX(-125%);
        margin-bottom: 5px;
    }
    .footer {
        width: 37.5rem;
    }
    .footer__container {
        padding: 64px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .container {
    }
    .footer__nav {
        /* position: absolute; */
        left: 50%;
        transform: translateX(50%);
    }
    .footer__logo {
        left: 50%;
        transform: translateX(20%);
    }

    .footer__logo-img {
        width: 9.5rem;
        height: 2.4rem;
    }

    .footer__address {
        text-align: center;
        left: -50%;
        transform: translateX(50%);
        margin-top: 2.4rem;
        margin-bottom: 8rem;
    }
    .footer__address-link {
        font-size: 1.5rem;
    }
    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer__copyright-text {
        margin-right: 3rem;
    }
    .contactt {
        width: 37.5rem;
        padding-bottom: 1rem;
    }
    .contactt-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactt-info {
        width: 51.5rem;
        width: 80%;
    }
    .contact__img {
        display: none;
    }
    .contact__pattern-second-img {
        display: none;
    }
    .teams__type-info {
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .contacts__form {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
        margin-left: 10rem;
    }
    .input-text {
        /* width: 375px; */
    }
    .mobile-nav {
        display: block;
        background-color: var(--secondary-deep-jungle);
        width: 255px;
        height: 100vh;
        left: 37rem;
        top: 0;
        position: absolute;
    }
}
